/* List View */
.list-view {
	height: 100vh;
	width: 60vw;
	background-color: black;
	color: gray;
	float: left;
	transition: 1s;
	left: 0;
	position: absolute; /* Will allow div to slide */
	z-index: 100;
}

.list-view.hidden {
	left: -50vw;
}

.list-toggle {
	width: 3em;
	float: right;
}

.list-title {
	text-align: center;
}

.list-search {
	width: 80%;
	height: 25px;
}

.list-submit {
	background-color: blue;
	color: white;
	height: 31px; /* Height must be 6px higher than .list-search */
}

.list-locations {
	margin: 5% 10%;
}

.list-button {
	background-color: transparent;
	border: none;
	color: gray;
	width: 100%;
	height: 10vh;
	text-align: left;
	font-size: 1em;
	cursor: pointer;
}

.list-button.selected {
	background-color: gray;
	color: white;
	font-weight: bold;
}

/* Neighborhood Map */
.map,
.map-loading {
	height: 100%;
}

.map-container {
	height: 100vh; /* Required for map to appear */
	width: 100vw;
	float: right;
}

.marker-window {
	width: 40vw;
	height: 50vh;
}

.marker-url,
.marker-yelp {
	font-weight: bold;
	text-decoration: none;
	display: block; /* Allow link to be centered */
	text-align: center;
}

.marker-url {
	color: black;
	font-size: 2em;
}

.marker-url:hover,
.marker-yelp:hover {
	text-decoration: underline;
}

.marker-image {
	width: 30%;
	height: auto;
	display: block; /* Appear under title */
	margin: 10px auto; /* Center image */
}

.marker-yelp {
	color: orangered;
	font-size: 1.5em;
}

.error-message {
	color: red;
	text-align: center;
}
