.list-view {
	height: 100vh;
	width: 25%;
	background-color: black;
	color: gray;
	float: left;
}

.list-title {
	text-align: center;
}

.list-search {
	width: 80%;
	height: 25px;
}

.list-submit {
	background-color: blue;
	color: white;
	height: 31px; /* Height must be 6px higher than .list-search */
}

.list-locations {
	margin: 5% 10%;
}

.list-button {
	background-color: transparent;
	border: none;
	color: gray;
	width: 100%;
	height: 10vh;
	text-align: left;
	font-size: 1em;
	cursor: pointer;
}

.list-button.selected {
	background-color: gray;
	color: white;
	font-weight: bold;
}

.map,
.map-loading {
	height: 100%;
}

.map-container {
	height: 100vh; /* Required for map to appear */
	width: 75%;
	float: right;
}
